<div data-controller="dropdown">
  <h1>Home#index</h1>
  <!--<button data-action="click->dropdown#openDropDown" data-dropdown-target="openButton" >
   Open Drop Down
   </button>
  <button data-action="click->dropdown#closeDropDown" data-dropdown-target="closeButton" >
   Close Drop Down
   </button>-->
   <div style="width: 25%;" role="button" data-action="click->dropdown#openDropDown" data-dropdown-target="openButton" >
   Open Drop Down
   </div>
   <div style="width: 25%;" role="button" data-action="click->dropdown#closeDropDown" data-dropdown-target="closeButton" >
   Close Drop Down
   </div>
  <div data-dropdown-target="dropdownContent">
    <p>Find me in app/views/home/index.html.erb</p>
  </div>
</div>
